# Extracting text using image recognition
I use Tesseract to find text information in the product pictures of watch offerings. <br>
For every picture I extract a list of detected strings. These are later clustered to group similar words. <br>
<br>
To run my text recognition in multiple processes in Jupyter, I had to write my text recognition functions in a diffrent file called defs.py. <br>

In [1]:
import os
import pandas as pd
import multiprocess as mp
import defs

[INFO] loading EAST text detector...

In [3]:
files = os.listdir('.\images')
len(files)

58673

In [13]:
if os.path.isfile('words.csv'):
    df = pd.read_csv('words.csv', low_memory=False)
    df.set_index('id', inplace=True)
else:
    df = pd.DataFrame()

print(len(df))
df.tail()

58673

,0,1,2,3,4,5,6,7,8,9,...,146,147,148,149,150,151,152,153,154,155
id,,,,,,,,,,,,,,,,,,,,,
20299845,LONGINGES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20299849,BREITLI,fels,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20299854,LONGINES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20299872,JUN,Wii,PATH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
d9113598,Lvales,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
while len(df) < len(files):
    start = len(df)
    end = start+120

    ids = [i.split('.')[0] for i in files[start:end]]

    if __name__ == '__main__':
        with mp.Pool(6) as p:
            x = p.map(defs.get_word_list, files[start:end])
            
    
    df_temp = pd.DataFrame(x)
    df_temp['id'] = ids
    df_temp.columns = df_temp.columns.map(str)
    df_temp.set_index('id', inplace=True)
    df = pd.concat([df, df_temp], axis=0)
    
    print(len(df))

55208
55328
55448
55568
55688
55808
55928
56048
56168
56288
56408
56528
56648
56768
56888
57008
57128
57248
57368
57488
57608
57728
57848
57968
58088
58208
58328
58448
58568
58673

In [12]:
if os.path.isfile('words.csv'):
    
    if os.path.isfile('words_backup.csv'):
        os.remove('words_backup.csv')
    
    os.rename('words.csv', 'words_backup.csv')

df.to_csv('words.csv')